
<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>
        {% block title %}
         | SOLO
        {% endblock %}
    </title>
    <link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
    <!-- jQuery (Bootstrap's JavaScript plugins) -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfont-->
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>
    <!--webfont-->
    <!-- dropdown -->
    <script src="{% static 'js/jquery.easydropdown.js' %}"></script>
    <link href="{% static 'css/nav.css' %}" rel="stylesheet" type="text/css" media="all"/>

    <style type="text/css">
	table {
		position: relative;
		margin-left: auto;
		margin-right: auto;
		border: 1px solid grey;
	}
	tr {
		border: 1px solid grey;
		padding: 5px;
	}
	th {
		border: 1px solid grey;
		padding: 5px;
		text-align: center;
	}
	td {
		border: 1px solid grey;
		padding: 5px;
	}
</style>
    {% block css %}{% endblock %}
    {% block scripts %}{% endblock %}

</head>
<body>

<div class="container">
    <div class="header">
        <div class="top-nav">
            <label class="mobile_menu" for="mobile_menu">
                <span>Menu</span>
            </label>
            <input id="mobile_menu" type="checkbox">
            <ul class="nav" style="color: black; background: goldenrod;float: right;">
                <li class="dropdown1">
                    <a href="/solo/">Подбор партий</a>
                </li>
                <li class="dropdown1">
                    <a href="/solo/contract/">Заполнить договор</a>
                </li>
                {% if user.is_authenticated %}
                <li class="dropdown1"><a href="/solo/settings/">Настройки</a>
                    <ul class="dropdown2">
                        <li><a href="/solo/update/">Обновить остатки</a></li>
                        <li><a href="/solo/update_abc/">Обновить из ABC</a></li>
                    </ul>
                </li>
                <li class="dropdown1"><a href="/user/{{user.id}}">{{user.username}}</a>
                    <ul class="dropdown2">
                        <li><a href="/user/logout/">LOGOUT</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown1"><a href="/user/login/?next={{ request.path }}">Login</a>
                    <ul class="dropdown2">
                        <li class="loginform">
                            {% if errors %} <p>Sorry, login or password is incorrect</p>{% endif %}
                            <form method="post" action="/user/login/">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}"/>
                                <input type="text" name="username" value="" placeholder="Username">
                                <input type="password" name="password" value="" placeholder="Password">
                                <button type="submit" class="btn btn-default login-btn">Send</button>
                            </form>
                            <a href="/user/registration/?next={{ request.path }}">REGISTRATION</a>
                        </li>
                        <!-- <li></li> -->
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>


    {% block content %}
    {% endblock %}

</div>


</body>
</html>