
{% extends "solo_base.html" %}

{% load staticfiles %}
{% load solo_tags %}

{% block title %}
    Настройки {{block.super}}
{% endblock %}

{% block css %}
<style type="text/css">
	.headers {
		display: flex;
	}
	.non_actual_fabric {
	    display: none;
	}
</style>
{% endblock %}
{% block scripts %}<script src="{% static 'solo_admin_scripts.js' %}"></script>{% endblock %}

{% block content %}

    <div><h1 align="center" >Настройки</h1></div>
    {% if user.id|is_solo_user %}
        {% if user.is_superuser %}
        <div class="headers"><h2>Mail list</h2><button class="hider" value="mails">Свернуть</button></div>
        <div>
            <ul id="mails">
                {% if user.id|is_solo_admin %}
                {% for mail in emails %}
                {% spaceless %}
                <li>
                    <span value="email">{{ mail.email }}</span>
                    {% if mail.is_main %}
                        <button class="set" value_type="main" value="off">основной</button>
                    {% else %}
                        <button class="set" value_type="main"  value="on">сделать основным</button>
                    {% endif %}
                        <span>user_id: {{ mail.user_id }}</span>
                        <button class="set" value="edit">изменить</button>
                    {% if mail.in_marrys_list %}
                        <span>В списке Маши</span>
                        <button class="set" value_type="marry" value="off">исключить</button>
                    {% else %}
                        <span>Не в списке Маши</span>
                        <button class="set" value_type="marry" value="on">включить</button>
                    {% endif %}
                </li>
                {% endspaceless %}
                {% empty %}
                <p>Нет сохраненных адресов</p>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        {% endif %}
        <h2>Mail themes and attachments</h2>
        <div>

        </div>
        <div class="headers"><h2>Fabric names</h2><button class="hider" value="fabrics">Свернуть</button>
            <button class="non_active_hider" value="non_actual_fabric">Развернуть неактивные</button></div>
        <div>
            <ul id="fabrics">
                {% if user.id|is_solo_admin %}
                    {% for fabric in fabrics %}
                    {% spaceless %}
                    <li {% if not fabric.actual %}class="non_actual_fabric"{% endif %}>
                        <span value="fabric">{{ fabric.name }}</span>
                        {% if fabric.actual %}
                        <button class="set" value="off">отключить</button>
                        {% else %}
                        <button class="set" value="on">включить</button>
                        {% endif %}
                    </li>
                    {% endspaceless %}
                    {% empty %}
                    <p>None fabric found</p>
                    {% endfor %}
                {% else %}
                    {% for fabric in fabrics %}
                    {% spaceless %}
                    <li {% if not fabric.actual %}class="non_actual_fabric"{% endif %}>
                        <span>{{ fabric.name }}</span>
                    </li>
                    {% endspaceless %}
                    {% empty %}
                    <p>Нет сохраненных фабрик</p>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <h2></h2>
    {% elif user.is_authenticated %}
        <div>Нет доступа к настройкам solo!</div>
    {% else %}
        <div>Необходимо авторизоваться</div>
    {% endif %}

{% endblock %}
