
{% extends "solo_base.html" %}

{% load staticfiles %}
{% load solo_tags %}

{% block title %}
    Настройки {{block.super}}
{% endblock %}

{% block content %}

<div class="container">
    <div class="header">
        <div class="top-nav">
            <label class="mobile_menu" for="mobile_menu">
                <span>Menu</span>
            </label>
            <input id="mobile_menu" type="checkbox">
            <ul class="nav" style="color: black; background: goldenrod;float: right;">
                <li class="dropdown1">
                    <a href="/solo/">Подбор партий</a>
                </li>
                <li class="dropdown1">
                    <a href="/solo/contract/">Заполнить договор</a>
                </li>
                {% if user.is_authenticated %}
                <li class="dropdown1"><a href="/solo/settings/">Настройки</a>
                    <ul class="dropdown2">
                        <li><a href="/solo/update/">Обновить остатки</a></li>
                        <li><a href="/solo/update_abc/">Обновить из ABC</a></li>
                    </ul>
                </li>
                <li class="dropdown1"><a href="/user/{{user.id}}">{{user.username}}</a>
                    <ul class="dropdown2">
                        <li><a href="/user/logout/">LOGOUT</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="dropdown1"><a href="/user/login/?next={{ request.path }}">Login</a>
                    <ul class="dropdown2">
                        <li class="loginform">
                            {% if errors %} <p>Sorry, login or password is incorrect</p>{% endif %}
                            <form method="post" action="/user/login/">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}"/>
                                <input type="text" name="username" value="" placeholder="Username">
                                <input type="password" name="password" value="" placeholder="Password">
                                <button type="submit" class="btn btn-default login-btn">Send</button>
                            </form>
                            <a href="/user/registration/?next={{ request.path }}">REGISTRATION</a>
                        </li>
                        <!-- <li></li> -->
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
    <div><h1 align="center" >Настройки</h1></div>
    {% if user.id|is_solo_user %}
        <h2>Mail list</h2>
        <div>
            <ul>
                {% if user.id|is_solo_admin %}
                {% for mail in emails %}
                {% spaceless %}
                <li>
                    <span value="email">{{ mail.email }}</span>
                    {% if mail.is_main %}
                    <button class="set" value_type="main" value="off">основной</button>
                    {% else %}
                    <button class="set" value_type="main"  value="on">сделать основным</button>
                    {% endif %}
                    <span>user_id: {{ mail.user_id }}</span>
                    <button class="set" value="edit">изменить</button>
                    {% if mail.in_marrys_list %}
                    <span>В списке Маши</span>
                    <button class="set" value="off">исключить</button>
                    {% else %}
                    <span>Не в списке Маши</span>
                    <button class="set" value="on">включить</button>
                    {% endif %}
                </li>
                {% endspaceless %}
                {% empty %}
                <p>Нет сохраненных адресов</p>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <h2>Mail themes and attachments</h2>
        <div>

        </div>
        <h2>Fabric names</h2>
        <div>
            <ul>
                {% if user.id|is_solo_admin %}
                    {% for fabric in fabrics %}
                    {% spaceless %}
                    <li>
                        <span value="fabric">{{ fabric.name }}</span>
                        {% if fabric.actual %}
                        <button class="set" value="off">отключить</button>
                        {% else %}
                        <button class="set" value="on">включить</button>
                        {% endif %}
                    </li>
                    {% endspaceless %}
                    {% empty %}
                    <p>None fabric found</p>
                    {% endfor %}
                {% else %}
                    {% for fabric in fabrics %}
                    {% spaceless %}
                    <li>
                        <span>{{ fabric.name }}</span>
                    </li>
                    {% endspaceless %}
                    {% empty %}
                    <p>Нет сохраненных фабрик</p>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <h2></h2>
    {% elif user.is_authenticated %}
        <div>Нет доступа к настройкам solo!</div>
    {% endif %}
</div>

{% endblock %}
