{% extends "solo_base.html" %}

{% load staticfiles %}
{% block title %}
	TABLES{{block.super}}
{% endblock %}

{% block content %}

<div class="contact" style="background: none">
	<script src="{% static 'solo_table_scripts.js' %}"></script>
	<div class="container">
		<a href="/solo/settings">settings</a>
		<h3>ПОДБОР ПАРТИЙ</h3>
		{{ last_update_time }}
		{% if not data_receved %}
			<button id="boxes">количество в коробках</button>
			<form method="post" action="/solo/senddata/">
				{% csrf_token %}
				<input placeholder="кол-во коробок" type="number" name="boxes_num">
				<!-- <input placeholder="компаньон кол-во коробок" type="number" name="uni_boxes_num"> -->
				<input type="checkbox" name="get_all_consigs" value="on"> Собирать все партии
				<textarea name='data' placeholder="АРТИКУЛ КОЛ-ВО_РУЛОНОВ АРТИКУЛ КОЛ-ВО_РУЛОНОВ и т.д. Для счета в коробках к количеству добавить зведочку(*) "></textarea>
				<input type="submit" value="SEND">
			</form>

		{% else %}
			<a href="/solo/">вернуться к форме</a>
			<button id="copy" text="copy">Скопировать</button>
			<table>
				<tr><th>Артикул</th><th>Номенклатура</th><th>партия</th><th>кол-во рул</th><th>Комментарий</th></tr>
				{% for row in table_rows %}
					<tr><td class="vcode">{{ row.vcode }}</td><td></td><td>{{ row.consig }}</td><td class="number">{{ row.number }}</td><th class="comment">{{ row.comment }}</th></tr>
				{% endfor %}
			</table>
		{% endif %}
	</div>
</div>

{% endblock %}

